################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/workflow
/workflow/obj/Debug/netcoreapp3.1
/workflow/obj
